@charset "UTF-8";
@import "mixin";

%animate-base {
    // 消除 transition 闪屏
    -webkit-transform-style: preserve-3d;
    // 设置内嵌的元素在 3D 空间如何呈现：保留 3D
    -webkit-backface-visibility: hidden;
    //（设置进行转换的元素的背面在面对用户时是否可见：隐藏）
}

@mixin animation($value) {
    @extend %animate-base;
    @include prefixer(animation, $value);
}

@mixin transform($value) {
    @include prefixer(transform, $value);
}

// 根据前缀列表中的前缀来进行判断增加
@mixin keyframes($value) {
    @each $prefix in $prefix-list {
        @if $prefix == webkit {
            @-webkit-keyframes #{$value}{
                @content;
            }
        } @else if $prefix == moz {
            @-moz-keyframes #{$value}{
                @content;
            }
        } @else if $prefix == ms {
            @-ms-keyframes #{$value}{
                @content;
            }
        } @else if $prefix == o {
            @-o-keyframes #{$value}{
                @content;
            }
        }
    }
    @if $prefixNo {
        @keyframes #{$value}{
            @content;
        }
    }
}
