@charset "UTF-8";
@import "settings";

//背景图片处理
@mixin backgroundImg($value) {
    background: $value no-repeat;
    background-size: 100% auto;
}

// 出多少宽度则显示省略号
%ellipsis-basic {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin ellipsis($width:100%) {
    @extend %ellipsis-basic;
    width: $width;
}

//盒子布局函数
@mixin box($align: center, $pack: center) {
    @each $prefix in $prefix-list {
        display: -#{$prefix}-box;
        -#{$prefix}-box-align: $align;
        -#{$prefix}-box-pack: $pack;
    }
}

// prefixer
// 用于在属性上加前缀
@mixin prefixer($property, $value, $prefixes: $prefix-list) {
    @each $prefix in $prefixes {
        @if $prefix == webkit {
            -webkit-#{$property}: $value;
        } @else if $prefix == moz {
            -moz-#{$property}: $value;
        } @else if $prefix == ms {
            -ms-#{$property}: $value;
        } @else if $prefix == o {
            -o-#{$property}: $value;
        }
    }
    @if $prefixNo {
        #{$property}: $value;
    }
}

// 设置元素的圆角
@mixin border-radius($value) {
    @include prefixer(border-radius, $value);
}

// 将元素变为圆形
@mixin border-box($value) {
    width: $value;
    height: $value;
    @include border-radius(50%);
}

// 清除浮动
@mixin clearfix() {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// 内阴影和外阴影
@mixin box-emboss($opacity, $opacity2){
  box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

// 透明度
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
