@charset "UTF-8";
/*- reset -*/
html {
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
}

html, body, div, p, header, button {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
    font-family: Helvetica, sans-serif;
}

body {
    //clear click shadow in ios
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/**
 *  移动设备常用mediaQuery
 *  应用于1024px以下设备
 *  移动设备的基本字体为16px
 */
$list: (32: (640, 1023), 21.2: (424, 639), 20.7: (414, 423), 19.2: (384, 413), 18.75: (375, 383), 18: (360, 374), 16: (320, 359));

@each $size, $sizeList in $list {
    @media screen and (min-width: #{nth($sizeList,1)}px) and (max-width: #{nth($sizeList,2)}px) {
        html {
            font-size: #{$size}px;
        }
    }
}
